.root {
  @apply h-full flex flex-col overflow-y-auto overflow-x-hidden;
  -webkit-overflow-scrolling: touch !important;

}

.header {
  @apply sticky top-0 pl-4 py-4 pr-6
  flex items-center justify-between 
  bg-accent-0 box-border w-full z-20;
  min-height: 66px;
}

.container {
  @apply flex flex-col flex-1 box-border;
}

@screen lg {
  .header {
    min-height: 74px;
  }
}
