.fieldset {
  @apply flex flex-col my-3;
}

.fieldset .label {
  @apply text-accent-7 uppercase text-xs font-medium mb-2;
}

.fieldset .validInput {
  @apply p-2 border w-full text-sm font-normal;
}

.fieldset .validInput:focus {
  @apply outline-none text-sm shadow;
}

.fieldset .invalidInput {
  @apply p-2 border border-red w-full text-sm font-normal;
}

.fieldset .invalidInput:focus {
  @apply outline-none text-sm shadow shadow-red;
}

.header {
  @apply sticky z-10 w-full py-4 border-y border-accent-2 flex flex-row items-center bg-primary;
}

.icon {
  @apply mr-3 text-accent-6;
  margin-left: -6px;
  transition: transform 0.2s ease;
}

.icon.open {
  transform: rotate(90deg);
}
